<%= form_for @status, :html => { :class => "form-horizontal" } do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>
      <ul>
      <% @status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= render :partial => 'reagents/find_by_tf_isoforms', :locals => {:f => f, :model_type => "status"} %>
    <div class="control-group">
      <%= f.label "Attempt date", :class => "control-label" %>
      <div class="controls">
        <%= f.grouped_collection_select :attempt_id, Reagent.all, :attempts, :id, :id, :updated_at_localized %>
      </div>
    </div>
    <%= render :partial => "statuses/status_fields", :locals => {:f => f} %>
  </fieldset>
<% end %>
