<%= form_for @status, :html => { :class => "form-horizontal" } do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="control-group">
      <%= f.label :reagent_name, :class => "control-label" %>
      <div class="controls">
        <%= autocomplete_field_tag 'Reagent name', '', autocomplete_reagent_name_reagents_path, :update_elements =>  {:id => "#status-attempt-reagent-id" }, :class => "search-query span2", :placeholder => "Search", :value => (@status.attempt.reagent.name if (!@status.attempt.nil? && !@status.attempt.reagent.nil?)) %>
        <input type="hidden" id="status-attempt-reagent-id" value="<%= @status.attempt.nil? || @status.attempt.reagent.nil? ? "" : @status.attempt.reagent.id %>"/>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Attempt date", :class => "control-label" %>
      <div class="controls">
        <%= f.grouped_collection_select :attempt_id, Reagent.all, :attempts, :id, :id, :updated_at %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :step, :class => "control-label" %>
      <div class="controls">
        <%= f.grouped_collection_select :step_id, Attempt.all, :steps, :updated_at, :id, :name %><br />
        <%= f.hidden_field :position, :value => 1 %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :description, :size => "100x3", :placeholder => "Your notes here!" %><br />
        <%= f.check_box :success %> Success <%= f.check_box :failure %> Failure<br />
        <%= f.check_box :end %> End of attempt
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Date started", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :started_at, :id => 'statusTime' %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Update Status", :id => "update_status", :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
