<h1>Latest updates</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Status</th>
      <th>Gene(s)</th>
      <th>Reagent</th>
      <th>Outcome</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
<% @statuses.each do |status| %>
    <tr>
      <td><%= link_to I18n.localize(status.started_at, :format => :short), status %></td>
      <td><%= status.description %></td>
      <td><%= status.attempt.nil? ? "None" : raw((status.attempt.reagent.isoforms.map{ |isoform| link_to(isoform.transcription_factor.name, isoform.transcription_factor) }).join(", ")) %></td>
      <td><%= status.attempt.nil? ? "None" : link_to(status.attempt.reagent.name, status.attempt.reagent) %></td>
      <td><%= status.outcome_text.humanize %></td>
      <td><%= status.step.position %>/<%= status.step.pipeline.steps.count %></td>
    </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Status', new_status_path %>
