<h1>Status</h1>
<dl class="dl-horizontal">
  <dt>Attempt for</dt>
  <dd><%= @status.attempt.reagent.nil? ? "no reagent" : link_to(@status.attempt.reagent.name, @status.attempt.reagent) %></dd>
  <dt>Status</dt>
  <dd><%= @status.success ? "Success" : @status.failure ? "Failure" : "In-progress" %></dd>
  <dt>Started</dt>
  <dd><%= @status.started_at %></dd>
  <dt>Last updated</dt>
  <dd><%= @status.updated_at %></dd>
</dl>

<h3>Notes</h3>
<blockquote><%= @status.description %></blockquote>

<% if @status.start || @status.end %>
<p>
  This marks the <%= @status.start ? "start" : "end" %> of this attempt.
</p>
<% end %>

<h3>Attempt history</h3>
<% if @status.attempt.nil? %>
<p>This status is not part of an attempt.</p>
<% else %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Time</th>
      <th>Person</th>
      <th>Step</th>
      <th>Description</th>
      <th>Status</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
  <% i = 1 %>
  <% @status.attempt.statuses.order("position ASC").each do |status| %>
    <tr>
      <td><%= i %></td>
      <td><%= status.started_at %></td>
      <td><%= link_to status.user.name, status.user %></td>
      <td><%= link_to status.step.name, status.step %></td>
      <td><%= status.description %></td>
      <td><%= link_to status.success ? "Success" : status.failure ? "Failed" : "In-progress", status %></td>
      <td><%= link_to status.step.position.to_s + "/" + status.attempt.steps.count.to_s, status.step.pipeline %></td>
    <% i += 1 %>
  <% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
