<h1>Genes</h1>

<table id="tf-list" class="display table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Flybase ID</th>
      <th>CG ID</th>
      <th>Refseq ID</th>
    </tr>
  </thead>
  <tbody>
<% @transcription_factors.each do |transcription_factor| %>
    <tr>
      <td><%= link_to transcription_factor.name, transcription_factor %></td>
      <td><%= link_to transcription_factor.flybase_id.to_s, 'http://flybase.org/reports/' + transcription_factor.flybase_id.to_s + '.html', :target => '_blank' %></td>
      <td><%= transcription_factor.cg_id %></td>
      <td><%= transcription_factor.refseq_id %></td>
    </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Transcription factor', new_transcription_factor_path %>
