<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @transcription_factor.name %></dd>
  <% unless @transcription_factor.gene_type.nil? %>
    <dt>Type</dt>
    <dd><%= @transcription_factor.gene_type.name %></dd>
  <% end %>
  <% unless @transcription_factor.description.nil? %>
    <dt>Description</dt>
    <dd><%= @transcription_factor.description %></dd>
  <% end %>
  <% uniqueAliases = @transcription_factor.aliases.reject{|aliasObj| aliasObj.name == @transcription_factor.name}.map{|aliasname| aliasname.name}
  unless uniqueAliases.empty? %>
    <dt>Also known as</dt>
    <dd><%= uniqueAliases.join(", ") %></dd>
  <% end %>
  <% unless @transcription_factor.flybase_id.nil? %>
    <dt>Flybase ID</dt>
    <dd><%= link_to @transcription_factor.flybase_id, 'http://flybase.org/reports/' + @transcription_factor.flybase_id + '.html', :target => '_blank' %></dd>
  <% end %>
  <% unless @transcription_factor.cg_id.nil? %>
    <dt>CG ID</dt>
    <dd><%= @transcription_factor.cg_id %></dd>
  <% end %>
  <% unless @transcription_factor.refseq_id.nil? %>
    <dt>RefSeq ID</dt>
    <dd><%= @transcription_factor.refseq_id %></dd>
  <% end %>
</dl>
<h3>Gene Map</h3>
<%= image_tag("/images/isoforms/" + @transcription_factor.isoform_image_path.to_s) unless @transcription_factor.isoform_image_path.nil? %><br />

<h3>Isoforms</h3>
<%= render :partial => 'isoforms/tf_table', :locals => {:transcription_factor => @transcription_factor} %>

<%= link_to 'Edit', edit_transcription_factor_path(@transcription_factor) %> |
<%= link_to 'Back', transcription_factors_path %>
