<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @transcription_factor.name %></dd>
  <dt>Also known as</dt>
  <dd><%= @transcription_factor.aliases.empty? ? "None" : (@transcription_factor.aliases.map {|aliasname| aliasname.name} ).join(", ") %></dd>
  <dt>Flybase ID</dt>
  <dd><%= link_to @transcription_factor.flybase_id, 'http://flybase.org/reports/' + @transcription_factor.flybase_id + '.html', :target => '_blank' %></dd>
  <dt>CG ID</dt>
  <dd><%= @transcription_factor.cg_id %></dd>
  <dt>Refseq ID</dt>
  <dd><%= @transcription_factor.refseq_id %></dd>
</dl>
<h3>Gene Map</h3>
<%= image_tag "isoforms/" + @transcription_factor.isoform_image_path.to_s %><br />

<h3>Isoforms</h3>
<%= render :partial => 'isoforms/tf_table', :locals => {:transcription_factor => @transcription_factor} %>

<%= link_to 'Edit', edit_transcription_factor_path(@transcription_factor) %> |
<%= link_to 'Back', transcription_factors_path %>
