<h1>Listing attempt_attributes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Reagent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attempt_attributes.each do |attempt_attribute| %>
  <tr>
    <td><%= attempt_attribute.name %></td>
    <td><%= attempt_attribute.reagent %></td>
    <td><%= link_to 'Show', attempt_attribute %></td>
    <td><%= link_to 'Edit', edit_attempt_attribute_path(attempt_attribute) %></td>
    <td><%= link_to 'Destroy', attempt_attribute, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attempt attribute', new_attempt_attribute_path %>
