<h1>Listing isoforms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @isoforms.each do |isoform| %>
  <tr>
    <td><%= isoform.name %></td>
    <td><%= isoform.description %></td>
    <td><%= link_to 'Show', isoform %></td>
    <td><%= link_to 'Edit', edit_isoform_path(isoform) %></td>
    <td><%= link_to 'Destroy', isoform, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Isoform', new_isoform_path %>
