<h1><%= @user.name %></h1>
<dl class="dl-horizontal">
  <dt>Email</dt>
  <dd><%= @user.email %></dd>
  <dt>Role</dt>
  <dd><%= @user.role.humanize %></dd>
  <dt>Works for</dt>
  <dd><%= @user.source.nil? ? 'Nowhere' : link_to(@user.source.name, @user.source) %></dd>
  <dt>Success rate</dt>
  <dd><%= (Float(@user.statuses.select{|status| status.success}.length == 0 ? 1 : @user.statuses.select{|status| status.success}.length) / (@user.statuses.select{|status| status.success || status.failure}.length == 0 ? 1 : @user.statuses.select{|status| status.success || status.failure}.length)*100).round %>%</dd>
</dl>
<h2>Latest updates</h2>
<table class='dataTable table table-striped table-bordered'>
  <thead>
  <tr>
    <th>Time</th>
    <th>Reagent</th>
    <th>Step</th>
    <th>Description</th>
    <th>Status</th>
    <th>Position</th>
  </tr>
  </thead>
  <tbody>
  <% @user.statuses.order("updated_at DESC").each do |status| %>
    <tr>
      <td><%= link_to status.started_at, status %></td>
      <td><%= link_to status.attempt.reagent.name, status.attempt.reagent %></td>
      <td><%= link_to status.step.name, status.step %></td>
      <td><%= status.description %></td>
      <td><%= status.success ? "Success" : status.failure ? "Failure" : "In-progress" %></td>
      <td><%= link_to (status.step.position.to_s + "/" + status.step.pipeline.steps.count.to_s), status.step.pipeline %></td>
    </tr>
  <% end %>
  </tbody>
</table>

  <%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', users_path %>