<%=  content_tag :li, :class => "fields" do %>
  <%=  f.hidden_field :id %>
  <%=  f.text_field :name %>
  <%=  f.hidden_field :position %>
  <span class="handle">[drag]</span>
  <%=  link_to "x", "#", :class => "remove_fields" %>
<% end %>