<h1>Listing pipelines</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Source</th>
    <th>Reagent type</th>
    <th>Steps</th>
  </tr>

<% @pipelines.each do |pipeline| %>
  <tr>
    <td><%= link_to pipeline.name, pipeline %></td>
    <td><%= pipeline.description %></td>
    <td><%= pipeline.source.nil? ? "None" : pipeline.source.name %></td>
    <td><%= pipeline.reagent_type.nil? ? "None" : pipeline.reagent_type.name %></td>
    <td><%= pipeline.steps.nil? ? "0" : pipeline.steps.count %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pipeline', new_pipeline_path %>
