<h1><%= @pipeline.name %></h1>
<dl class="dl-horizontal">
  <dt>Source</dt>
  <dd><%= @pipeline.source.nil? ? "None" : @pipeline.source.name %></dd>
  <dt>Description</dt>
  <dd><%= @pipeline.description.nil? ? "None" : @pipeline.description %></dd>
</dl>
<h3>Steps</h3>
<% if @pipeline.steps.nil? %>
<%= "None" %>
<% else %>
  <% i = 1 %>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Success rate</th>
    </tr>
    </thead>
    <tbody>
    <% @pipeline.steps.order("position ASC").each do |step| %>
    <tr>
      <td><%= i %></td>
      <td><%= link_to step.name, step %></td>
      <td><%= (Float(step.statuses.select{|status| status.success}.length == 0 ? 1 : step.statuses.select{|status| status.success}.length) / (step.statuses.select{|status| status.success || status.failure}.length == 0 ? 1 : step.statuses.select{|status| status.success || status.failure}.length)*100).round %>%</td>
    </tr>
    <% i += 1 %>
  <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Edit', edit_pipeline_path(@pipeline) %> |
<%= link_to 'Destroy', @pipeline, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', pipelines_path %>
