<h1><%= @pipeline.name %></h1>
<dl class="dl-horizontal">
  <dt>Source</dt>
  <dd><%= @pipeline.source.nil? ? "None" : @pipeline.source.name %></dd>
  <dt>Reagent type</dt>
  <dd><%= @pipeline.reagent_type.nil? ? "None" : @pipeline.reagent_type.name %></dd>
  <dt>Description</dt>
  <dd><%= @pipeline.description.nil? ? "None" : @pipeline.description %></dd>
</dl>
<h3>Steps</h3>
<% if @pipeline.steps.nil? %>
<%= "None" %>
<% else %>
  <ol>
    <% @pipeline.steps.each do |step| %>
    <li><%= step.name %></li>
    <% end %>
  </ol>
<% end %>

<%= link_to 'Edit', edit_pipeline_path(@pipeline) %> |
<%= link_to 'Destroy', @pipeline, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', pipelines_path %>
