<h1>Dashboard</h1>
<div class="row-fluid">
  <div class="span6">
    <div id="progressPieChart"></div>​
  </div>
  <div class="span6">
    <h2>My Batches <small><%= link_to "(Create one)", "reagent_groups/start_batch" %></small></h2>
    <% if signed_in? %>
    <ul id="myReagentGroups">
      <% current_user.reagent_groups.order("updated_at DESC").all.each do |reagent_group| %>
      <li><%= link_to reagent_group.name, reagent_group %><em class="pull-right"><%= I18n.localize(reagent_group.updated_at, :format => :short) %></em></li>
      <% end %>
    </ul>
    <% else %>
    Please sign in to view your batches.
    <% end %>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <h2>Update status</h2>
    <%= render :partial => "statuses/form" %>
  </div>
  <div class="span6">
    <h2><%= link_to "Recently Updated", :controller => :statuses, :action => :index %></h2>
    <ul id="myTFRecentlyUpdated">
      <% if @latestStatuses.empty? %>
        No recent updates.
      <% end %>
      <% @latestStatuses.each do |status| %>
        <%= content_tag :li, raw(display_status_feed_item(status)), :class => "feedItem" %>
      <% end %>
    </ul>
    <%= link_to "More...", feed_path %>
  </div>
</div>
<script type="text/javascript">
var data = <%= @pieChartData %>,
    w = 350,
    h = 300,
    r = Math.min(w, h) / 2,
    tweenDuration = 750,
    labels = ["Inactive", "In-Progress", "Completed"],
    colors = ['#8C8C8C', '#FAA732', '#1DB338'],
    color = d3.scale.category10(),
    donut = d3.layout.pie().sort(null),
    arc = d3.svg.arc().innerRadius(r - 100).outerRadius(r);

// ---------------------------------------------------------------------
var svg = d3.select("#progressPieChart").append("svg:svg")
    .attr("width", w).attr("height", h);

var arc_grp = svg.append("svg:g")
    .attr("class", "arcGrp")
    .attr("transform", "translate(" + (w / 2) + "," + (h / 2) + ")");

var label_group = svg.append("svg:g")
    .attr("class", "lblGroup")
    .attr("transform", "translate(" + (w / 2) + "," + (h / 2) + ")");

// GROUP FOR CENTER TEXT
var center_group = svg.append("svg:g")
    .attr("class", "ctrGroup")
    .attr("transform", "translate(" + (w / 2) + "," + (h / 2) + ")");

// CENTER LABEL
var pieLabel = center_group.append("svg:text")
    .attr("dy", ".35em").attr("class", "chartLabel")
    .attr("text-anchor", "middle")
    .text("Total Progress");

// DRAW ARC PATHS
var arcs = arc_grp.selectAll("path")
    .data(donut(data));
arcs.enter().append("svg:path")
    .attr("stroke", "white")
    .attr("stroke-width", 0.5)
    .attr("fill", function(d, i) {return colors[i];})
    .attr("d", arc)
    .each(function(d) {this._current = d});

// DRAW SLICE LABELS
var sliceLabel = label_group.selectAll("text")
    .data(donut(data));
sliceLabel.enter().append("svg:text")
    .attr("class", "arcLabel")
    .attr("transform", function(d) {return "translate(" + arc.centroid(d) + ")"; })
    .attr("text-anchor", "middle")
    .text(function(d, i) {return labels[i] + ": " + data[i] + "%"; });

// --------- "PAY NO ATTENTION TO THE MAN BEHIND THE CURTAIN" ---------

// Store the currently-displayed angles in this._current.
// Then, interpolate from this._current to the new angles.
function arcTween(a) {
    var i = d3.interpolate(this._current, a);
    this._current = i(0);
    return function(t) {
        return arc(i(t));
    };
}

// update chart
function updateChart(data) {
  $.getJSON("/pages/completionProgress", function(data) {
    arcs.data(donut(data)); // recompute angles, rebind data
    arcs.transition().ease("elastic").duration(tweenDuration).attrTween("d", arcTween);

    sliceLabel.data(donut(data));
    sliceLabel.transition().ease("elastic").duration(tweenDuration)
        .attr("transform", function(d) {return "translate(" + arc.centroid(d) + ")"; })
        .style("fill-opacity", function(d) {return d.value==0 ? 1e-6 : 1;});
    timeout = setTimeout(updateChart, 60000);
  } );
}

// click handler
$(document).ready(function() {
  $.getJSON("/pages/completionProgress", function(data) {
    updateChart(data);
  } );
});
</script>