<%= render :partial => "transcription_factors/search_name", :locals => {:f => f} %>
<%= render :partial => "reagents/show_isoform_checkboxes", :locals => {:f => f, :isoforms => []} %>
<div id="reagents-search-by-isoforms" class="control-group">
  <%= f.label :reagent, :class => "control-label" %>
  <div class="controls">

  </div>
</div>
<input type="hidden" id="isoform-search-reagent-id" value="<%= @attempt.nil? || @attempt.reagent.nil? ? "" : @attempt.reagent.id %>"/>
<input type="hidden" id="isoform-search-reagent-type" value="<%= @attempt.nil? || @attempt.reagent.nil? ? "" : @attempt.reagent.reagent_type_id %>"/>
