<%= form_for @reagent, :html => { :class => "form-horizontal" } do |f| %>
  <% if @reagent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reagent.errors.count, "error") %> prohibited this reagent from being saved:</h2>
      <ul>
      <% @reagent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= render :partial => "transcription_factors/search_name", :locals => {:f => f} %>
    <%= render :partial => "reagents/show_isoform_checkboxes", :locals => {:f => f, :transcription_factor => nil, :isoforms => @reagent.isoforms} %>
    <div class="control-group">
      <%= f.label :name, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :description %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :source_id, :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select :source_id, Source.all, :id, :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :reagent_type_id, :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select :reagent_type_id, ReagentType.all, :id, :name %>
      </div>
        <%= render :partial => "reagents/watch_reagent_type_load_reagent_attributes", :locals => {:reagent => @reagent} %>
    </div>
    <div id="reagent-attributes-list" class="control-group">
      <%= f.label :reagent_attributes, :class => "control-label" %>
      <div class="controls">
        No attributes found.
      </div>
    </div>
    <div class="control-group">
      <%= f.label :tag_id, :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select :tag_id, Tag.all, :id, :name %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Create Reagent", :id => "create_reagent", :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>