<h1>Batch generate some reagents</h1>
<%= form_for @reagent, :url => {:action => 'create_by_batch'}, :html => { :class => "form-horizontal dataTable-form" } do |f| %>
  <% if @reagent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reagent.errors.count, "error") %> prohibited this reagent from being saved:</h2>

      <ul>
        <% @reagent.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label "Group name", :class => "control-label" %>
    <div class="controls">
      <%= text_field_tag "reagent_group[name]", "", :class => "input-xlarge" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reagent_type, :class => "control-label" %>
    <div class="controls">
      <%= f.collection_select :reagent_type_id, ReagentType.all, :id, :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :genes, :class => "control-label" %>
    <div class="controls">
      <table class='dataTable table table-bordered table-striped' id=''>
        <thead>
        <th>#</th>
        <th>Gene</th>
        </thead>
        <tbody>
        <% TranscriptionFactor.all.each do |transcription_factor| %>
          <tr>
            <td><%= number_field_tag "transcription_factors[" + transcription_factor.id.to_s + "]", nil, :min => 0, :step => 1 %></td>
            <td><%= transcription_factor.name %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Create Batch" %>
  </div>
<% end %>