<h1>Reagents</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Isoform(s)</th>
    <th>Type</th>
    <th>Source</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reagents.each do |reagent| %>
  <tr>
    <td><%= reagent.name %></td>
    <td><%= reagent.description %></td>
    <td><%= reagent.isoforms.nil? or reagent.isoforms.empty? ? "None" : reagent.isoforms.map {|isoform| isoform.name }.join(',') %></td>
    <td><%= reagent.reagent_type.name %></td>
    <td><%= reagent.source.nil? ? "None" : reagent.source.name %></td>
    <td><%= link_to 'Show', reagent %></td>
    <td><%= link_to 'Edit', edit_reagent_path(reagent) %></td>
    <td><%= link_to 'Destroy', reagent, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reagent', new_reagent_path %>
