<h3>Search for reagents</h3>
<%= form_tag :controller => "reagents", :action => "search" do %>
  <fieldset>
    <div class="control-group">
      <%= label_tag "reagent_values", "Type", :class => "control-label" %>
      <div class="controls">
        <%= collection_select "reagent", :reagent_type_id, ReagentType.all, :id, :name %>
      </div>
      <%= render :partial => "reagents/watch_reagent_type_load_reagent_attributes", :locals => {:reagent => @reagent} %>
    </div>
    <div id="reagent-attributes-list" class="control-group">
      <%= label_tag "reagent_values", "Attributes", :class => "control-label" %>
      <div class="controls">
        No attributes found.
      </div>
    </div>
    <div class="form-actions">
      <%= submit_tag "Search", :id => "search_reagent", :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>

<% if @reagents.empty? %>
  No reagents found.
<% else %>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Isoform(s)</th>
  </tr>
  </thead>
  <tbody>
  <% @reagents.each do |reagent| %>
    <td><%= link_to reagent.name, reagent %></td>
    <td><%= link_to reagent.reagent_type.name, reagent.reagent_type %></td>
    <td><%= link_to reagent.isoforms.empty? || reagent.isoforms.blank? ? "None" : raw((reagent.isoforms.map{|isoform| link_to(isoform.name, isoform)}).join(",")) %></td>
  <% end %>
  </tbody>
</table>
<% end %>
