<h3>Search for reagents</h3>
<%= form_for(@reagent, :url => {:action=>"search"}, :html => {:class => 'form-horizontal'}) do |f| %>
  <fieldset>
    <%= render :partial => "transcription_factors/search_name", :locals => {:f => f, :model_type => "reagent"} %>
    <%= render :partial => "reagents/show_isoform_checkboxes", :locals => {:f => f, :transcription_factor => nil, :isoforms => @reagent.isoforms, :model_type => "reagent"} %>
    <div class="control-group">
      <%= label_tag "reagent_values", "Type", :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select :reagent_type_id, ReagentType.all, :id, :name, {:include_blank => true, :default => nil}%>
      </div>
      <%= render :partial => "reagents/watch_reagent_type_load_reagent_attributes", :locals => {:reagent => @reagent} %>
    </div>
    <div id="reagent-attributes-list" class="control-group">
      <%= label_tag "reagent_values", "Attributes", :class => "control-label" %>
      <div class="controls">
        No reagent attributes found.
      </div>
    </div>
    <div id="reagent-current-status" class="control-group">
      <%= label_tag "reagent[status]", "Current status", :class => "control-label" %>
      <div class="controls">
      <%= f.fields_for :status do |builder| %>
          <%= builder.grouped_collection_select :step_id, Pipeline.all, :steps, :name, :id, :name, {:default => nil, :include_blank => true} %>
      <% end %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Search", :id => "search_reagent", :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
  <table id='reagent-search' class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Isoform(s)</th>
      <th>Last status</th>
      <th>Last updated</th>
    </tr>
    </thead>
    <tbody>
    <% @reagents.each do |reagent| %>
      <tr>
        <td><%= link_to reagent.name, reagent %></td>
        <td><%= link_to reagent.reagent_type.name, reagent.reagent_type %></td>
        <td><%= reagent.isoforms.empty? || reagent.isoforms.blank? ? "None" : raw((reagent.isoforms.map{|isoform| link_to(isoform.name, isoform)}).join(",")) %></td>
        <td><%= reagent.last_status.nil? ? "None" : link_to(reagent.last_status.step.name.to_s + " (" + reagent.last_status.outcome_text + ")", reagent.last_status) %></td>
        <td><%= reagent.last_status.nil? ? "Never" : link_to(I18n.localize(reagent.last_status.updated_at, :format => :short), reagent.last_status) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>