<h1><%= @reagent.name %></h1>
<dl class="dl-horizontal">
  <dt>Source</dt>
  <dd><%= @reagent.source.name %></dd>
  <dt>Type</dt>
  <dd><%= @reagent.reagent_type.name %></dd>
  <dt>Description</dt>
  <dd><%= @reagent.description %></dd>
</dl>
<h3>Attributes</h3>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <% @reagent.reagent_values.order("created_at DESC").group("reagent_attribute_id").order("id ASC").all.each do |reagent_value| %>
    <tr>
      <td><%= reagent_value.reagent_attribute.name %></td>
      <td><%= reagent_value.value %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<h3>Isoforms</h3>
<table class='dataTable table table-striped table-bordered'>
  <thead>
  <tr>
    <th>Isoform</th>
    <th>Gene</th>
  </tr>
  </thead>
  <tbody>
  <% @reagent.isoforms.each do |isoform| %>
    <tr>
      <td><%= link_to isoform.name, isoform %></td>
      <td><%= link_to isoform.transcription_factor.name, isoform.transcription_factor %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<h3>Attempts</h3>
<table class='dataTable table table-striped table-bordered'>
  <thead>
  <tr>
    <th>Pipeline</th>
    <th>User(s)</th>
    <th>Current Step</th>
    <th>Position</th>
    <th>Last updated</th>
  </tr>
  </thead>
  <tbody>
  <% @reagent.attempts.each do |attempt| %>
    <tr>
      <td><%= link_to attempt.pipeline.name, attempt %></td>
      <td><%= raw(attempt.users.map{|user| link_to(user.name, user)}.join(",")) %></td>
      <td><%= link_to attempt.statuses.order("position DESC").first.step.name, attempt.statuses.order("position DESC").first.step %></td>
      <td><%= link_to attempt.statuses.order("position DESC").first.step.position.to_s + "/" + attempt.steps.count.to_s, attempt.pipeline %></td>
      <td><%= I18n.localize(attempt.statuses.order("position DESC").first.step.updated_at, :format => :short) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_reagent_path(@reagent) %> |
<%= link_to 'Destroy', @reagent, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', reagents_path %>
