<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @reagent.name %>
</p>

<p>
  <b>Description:</b>
  <%= @reagent.description %>
</p>

<p>
  <b>Source:</b>
  <%= @reagent.source.nil? ? "None" : @reagent.source.name %>
</p>

<p>
  <b>Reagent type:</b>
  <%= @reagent.reagent_type.nil? ? "None" : @reagent.reagent_type.name %>
</p>

<p>
  <b>Tag:</b>
  <%= @reagent.tag.nil? ? "None" : @reagent.tag.name %>
</p>


<%= link_to 'Edit', edit_reagent_path(@reagent) %> |
<%= link_to 'Destroy', @reagent, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', reagents_path %>
