<h1>Review Batch</h1>
<%= form_for @reagent_group, :url => {:action => 'submit_batch'}, :html => { :class => "form-horizontal dataTable-form" } do |f| %>
  <% if @reagent_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reagent_group.errors.count, "error") %> prohibited this reagent from being saved:</h2>
      <ul>
        <% @reagent_group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label "Group name", :class => "control-label" %>
    <div class="controls">
      <span class='input-xlarge uneditable-input'><%= @reagent_group.name %></span>
      <%= f.hidden_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gene_type, :class => "control-label" %>
    <div class="controls">
      <span class='input-xlarge uneditable-input'><%= @reagent_group.gene_type.name %></span>
      <%= f.hidden_field :gene_type_id %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reagent_type, :class => "control-label" %>
    <div class="controls">
      <span class='input-xlarge uneditable-input'><%= @reagent_group.reagent_type.name %></span>
      <%= f.hidden_field :reagent_type_id %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reagents, :class => "control-label" %>
    <div class="controls">
      <table class='dataTable table table-bordered table-striped' id='reagent_review_table'>
        <thead>
        <th>Name</th>
        <th>Gene</th>
        <th>Type</th>
        <th>Isoform(s)</th>
        <th>Avg FPKM</th>
        <th>Max FPKM (protein only)</th>
        </thead>
        <tbody>
        <%= f.fields_for :reagents do |builder| %>
          <tr>
            <td>
              <%= builder.object.name %>
              <%= builder.hidden_field :name, :value => builder.object.name %>
            </td>
            <td>
              <%= builder.object.description %>
              <%= builder.hidden_field :description, :value => builder.object.description %>
            </td>
            <td>
              <%= builder.object.reagent_type.name %>
              <%= builder.hidden_field :reagent_type_id, :value => builder.object.reagent_type_id %>
              <%= builder.hidden_field :source_id, :value => builder.object.source_id %>
            </td>
            <td>
              <%= builder.object.isoforms.nil? ? "None" : raw(builder.object.isoforms.map{|isoform| link_to(isoform.name, isoform)}.join(", ")) %>
              <%= builder.hidden_field(:isoform_id_tokens, :value => builder.object.isoform_ids.join(",")) unless builder.object.isoform_ids.empty? %>
            </td>
            <td>
              <% if builder.object.isoforms.nil? or builder.object.isoforms.empty? %>
              None
            </td>
            <td>
              None
            </td>
              <% else
                  avgFPKM = builder.object.isoforms.inject(0){ |sum, isoform| sum + isoform.fpkm_r1 unless isoform.fpkm_r1.nil?}.to_f / builder.object.isoforms.reject{|isoform| not isoform.fpkm_r1.nil? }.size %>
              <%= avgFPKM %>
            </td>
            <td>
              <%
                  selectedIsoforms = builder.object.isoforms.select{|isoform| isoform.isoform_type == "protein_coding" && !isoform.fpkm_r1.nil? }
                  if selectedIsoforms.nil? or selectedIsoforms.empty? %>
              None
            </td>
                  <% else
                    maxFPKM = selectedIsoforms.map{|isoform| isoform.fpkm_r2.nil? ? isoform.fpkm_r1 : (isoform.fpkm_r1 + isoform.fpkm_r2)/2.0}.max %>
              <%= maxFPKM %>
            </td>
                  <% end
              end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Users", :class => "control-label" %>
    <div class="controls">
      <span class='input-xlarge uneditable-input'><%= @reagent_group.user_tokens %></span>
      <%= f.hidden_field :user_tokens, :value => @reagent_group.user_ids.join(",") %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Create Batch" %>
  </div>
<% end %>