<h1>Start Batch</h1>
<%= form_for @reagent_group, :url => {:action => 'review_batch'}, :html => { :class => "form-horizontal dataTable-form" } do |f| %>
  <% if @reagent_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reagent_group.errors.count, "error") %> prohibited this reagent from being saved:</h2>
      <ul>
        <% @reagent_group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label "Group name", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :class => "input-xlarge" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gene_type, :class => "control-label" %>
    <div class="controls">
      <%= f.collection_select :gene_type_id, GeneType.all, :id, :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reagent_type, :class => "control-label" %>
    <div class="controls">
      <%= f.collection_select :reagent_type_id, ReagentType.all, :id, :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :genes, :class => "control-label" %>
    <div class="controls">
      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-text-list" data-toggle="tab">Input names</a></li>
          <li><a href="#tab-select-list" data-toggle="tab">Select from list</a></li>
          <li><a href="#tab-spreadsheet-file" data-toggle="tab">Upload spreadsheet</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-text-list">
            <%= render :partial => 'transcription_factors/text_input' %>
          </div>
          <div class="tab-pane" id="tab-select-list">
            <%= render :partial => 'transcription_factors/select_list' %>
          </div>
          <div class="tab-pane" id="tab-spreadsheet-file">
            <div class="control-group gene_input" id="gene_spreadsheet_file">
              <%= f.file_field :spreadsheet_file %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :options, :class => "control-label" %>
    <div class="controls">
      <label class="checkbox">
        <%= check_box_tag :validate_hugo %> Validate HUGO names
      </label>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :total_reagents, "Total Reagents (will fill to)", :class => "control-label" %>
    <div class="controls">
      <%= f.number_field :total_reagents, :min => 1, :step => 1 %>
      sorted by 
      <%= f.select :sort_by, [["Name", "name"], ["Flag", "flag"], ["FPKM", "fpkm"], ["Frac", "frac"]] %>
      <%= f.select :sort_order, [["ascending", "ASC"], ["descending", "DESC"]] %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_tokens, "Users", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :user_tokens, :class => 'autofill_tokens', :data => {:load => @reagent_group.users} %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Review Batch" %>
  </div>
<% end %>