<div class='control-group'>
  <%= f.fields_for :attempt_attribute do |builder| %>
    <%= builder.autocomplete_field :name, autocomplete_attempt_attribute_name_attempt_attributes_path, :class => "search-query control-label", :placeholder => "Attribute name" %>
  <% end %>
  <div class='controls'>
    <%= f.text_field :value, :placeholder => "Value" %>
    <%= f.hidden_field :_destroy %>
    <%=  link_to "x", "#", :class => "remove_fields" %>
  </div>
</div>
