<%= form_for @attempt, :html => { :class => "form-horizontal" } do |f| %>
  <% if @attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attempt.errors.count, "error") %> prohibited this attempt from being saved:</h2>
      <ul>
      <% @attempt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= render :partial => 'reagents/find_by_tf_isoforms', :locals => {:f => f, :model_type => "reagent"} %>
    <div class="control-group">
      <%= f.label :pipeline, :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select :pipeline_id, Pipeline.all, :id, :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :current_step, :class => "control-label" %>
      <div class="controls">
        <%= f.fields_for :statuses do |builder| %>
          <%= builder.grouped_collection_select :step_id, Pipeline.all, :steps, :name, :id, :name %><br />
          <%= builder.text_area :description, :size => "100x3", :placeholder => "Type a description here." %><br />
          <%= builder.hidden_field :position, :value => 1 %>
          <%= builder.check_box :success %> Success <%= builder.check_box :failure %> Failure
          <%= builder.check_box :end %> End of attempt<br /><br />
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :attempt_values, :class => "control-label" %>
      <div class="controls">
        <div id="attempt_values" class='form-horizontal'>
          <%=  f.fields_for :attempt_values do |builder| %>
            <%= render :partial => "attempts/attempt_value_fields", :locals => {:f => builder} %>
          <% end %>
          <%= link_to_add_fields "Add an Attribute", f, :attempt_values %>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Date started", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :started_at, :id => 'attemptTime' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :user_tokens, "Users", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :user_tokens, :data => {:load => @attempt.users} %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Start Attempt", :id => "create_attempt", :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
