<!--TODO: add "new reagent" partial here.-->
<%= form_for @attempt, :html => { :class => "form-horizontal" } do |f| %>
  <% if @attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attempt.errors.count, "error") %> prohibited this attempt from being saved:</h2>
      <ul>
      <% @attempt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= render :partial => 'reagents/find_by_tf_isoforms', :locals => {:f => f} %>
    <div class="control-group">
      <%= f.label :pipeline, :class => "control-label" %>
      <div class="controls">
        <%= f.grouped_collection_select :pipeline_id, ReagentType.all, :pipelines, :id, :id, :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :current_step, :class => "control-label" %>
      <div class="controls">
        <%= f.fields_for :statuses do |builder| %>
          <%= builder.grouped_collection_select :step_id, Pipeline.all, :steps, :name, :id, :name %><br /><br />
          <%= builder.text_area :description, :size => "100x3", :value => "Started attempt." %><br />
          <%= builder.hidden_field :position, :value => 1 %>
          <%= builder.check_box :success %> Success <%= builder.check_box :failure %> Failure
          <%= builder.check_box :end %> End of attempt
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Date started", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :started_at, :id => 'attemptTime' %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Start Attempt", :id => "create_attempt", :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
