<h1>Listing attempts</h1>

<table>
  <tr>
    <th>Pipeline</th>
    <th>Reagent</th>
    <th>Users</th>
    <th>Status</th>
    <th>Started on</th>
    <th>Last updated on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attempts.each do |attempt| %>
  <tr>
    <td><%= attempt.pipeline.nil? ? "None" : attempt.pipeline.name %></td>
    <td><%= attempt.reagent.nil? ? "None" : attempt.reagent.name %></td>
    <td><%= attempt.users.nil? ? "None" : "Users here" %></td>
    <td><%= attempt.statuses.nil? ? "Planning" : attempt.statuses.order('updated_at DESC').first %></td>
    <td><%= attempt.created_at %></td>
    <td><%= attempt.updated_at %></td>
    <td><%= link_to 'Show', attempt %></td>
    <td><%= link_to 'Edit', edit_attempt_path(attempt) %></td>
    <td><%= link_to 'Destroy', attempt, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attempt', new_attempt_path %>
