<p>
  <b>Reagent:</b>
  <%= @attempt.reagent.nil? ? "None" : @attempt.reagent.name %>
</p>

<p>
  <b>Pipeline:</b>
  <%= @attempt.pipeline.nil? ? "None" : @attempt.pipeline.name %>
</p>

<p>
  <b>Status:</b>
  <%= @attempt.statuses.nil? ? "Planning" : @attempt.statuses.last.description %>
</p>

<p>
  <b>Started on:</b>
  <%= @attempt.statuses.nil? ? "Never" : @attempt.statuses.last.started_at %>
</p>

<p>
  <b>Last updated:</b>
  <%= @attempt.statuses.nil? ? "Never" : @attempt.statuses.last.updated_at %>
</p>


<%= link_to 'Edit', edit_attempt_path(@attempt) %> |
<%= link_to 'Back', attempts_path %>
