<h1>Attempt started on <%= I18n.localize(@attempt.statuses.first.started_at, :format => :short) %></h1>
<dl class="dl-horizontal">
  <dt>Reagent</dt>
  <dd><%= @attempt.reagent.nil? ? "None" : link_to(@attempt.reagent.name, @attempt.reagent) %></dd>
  <dt>User(s)</dt>
  <dd><%= @attempt.users.nil? ? "None" : raw(@attempt.users.map{|user| link_to(user.name, user)}.join(",")) %></dd>
  <dt>Pipeline</dt>
  <dd><%= @attempt.pipeline.nil? ? "None" : link_to(@attempt.pipeline.name, @attempt.pipeline) %></dd>
  <dt>Current status</dt>
  <dd><%= @attempt.statuses.nil? ? "Planning" : link_to(@attempt.statuses.last.step.name, @attempt.statuses.last) %></dd>
</dl>
<h3>Attributes</h3>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <% @attempt.attempt_values.each do |attempt_value| %>
    <tr>
      <td><%= attempt_value.attempt_attribute.name %></td>
      <td><%= attempt_value.value %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<h3>History</h3>
<table class="dataTable table table-bordered table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Time</th>
    <th>Person</th>
    <th>Step</th>
    <th>Description</th>
    <th>Status</th>
    <th>Position</th>
  </tr>
  </thead>
  <tbody>
  <% i = 1 %>
  <% @attempt.statuses.order("position ASC").each do |status| %>
    <tr>
      <td><%= i %></td>
      <td><%= I18n.localize(status.started_at, :format => :short) %></td>
      <td><%= link_to status.user.name, status.user %></td>
      <td><%= link_to status.step.name, status.step %></td>
      <td><%= status.description %></td>
      <td><%= link_to status.outcome_text.humanize, status %></td>
      <td><%= link_to status.step.position.to_s + "/" + status.attempt.steps.count.to_s, status.step.pipeline %></td>
      <% i += 1 %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_attempt_path(@attempt) %> |
<%= link_to 'Destroy', @attempt, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', attempts_path %>
