<h1>Listing gene_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gene_types.each do |gene_type| %>
  <tr>
    <td><%= gene_type.name %></td>
    <td><%= link_to 'Show', gene_type %></td>
    <td><%= link_to 'Edit', edit_gene_type_path(gene_type) %></td>
    <td><%= link_to 'Destroy', gene_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gene type', new_gene_type_path %>
