<p>
  <b>Name:</b>
  <%= @reagent_attribute.name %>
</p>

<p>
  <b>Reagent type:</b>
  <%= @reagent_attribute.reagent_type.name %>
</p>


<%= link_to 'Edit', edit_reagent_attribute_path(@reagent_attribute) %> |
<%= link_to 'Destroy', @reagent_attribute, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', reagent_attributes_path %>
